.react-hook-pagenation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    user-select: none;
}
.react-hook-pagenation .page-item {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #000000;
    margin: 0 6px;
    cursor: pointer;
}

.react-hook-pagenation .current-page {
    color: red;
    border: 1px solid red;
}

.react-hook-pagenation .page-item-omit {
    width: 36px;
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.react-hook-pagenation .prev-page,
.react-hook-pagenation .next-page {
    width: 72px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.react-hook-pagenation .prev-page {
    margin-right: 6px;
}

.react-hook-pagenation .next-page {
    margin-left: 6px;
}

.react-hook-pagenation .page-item:hover,
.react-hook-pagenation .prev-page:hover,
.react-hook-pagenation .next-page:hover {
    border: 1px solid #4F4F4F;
    color: #4F4F4F;
    background-color: #EAEAEA;
}

.react-hook-pagenation .prev-page:disabled,
.react-hook-pagenation .next-page:disabled {
    border: 1px solid #C2C2C2;
    color: #C2C2C2;
    cursor: not-allowed;
}

.react-hook-pagenation .react-hook-pagenation-page-size {
    width: 72px;
    height: 24px;
    line-height: 24px;
    margin: 0 12px;
    border: 1px solid #000000;
}

.react-hook-pagenation .total {
    margin-left: 12px;
}